<!--
 * @Author: your name
 * @Date: 2020-08-06 15:06:13
 * @LastEditTime: 2020-08-10 14:48:55
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /my-extension-homepage/src/pages/document.ejs
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>主页</title>
    <link rel="icon" href="/favicon.png" type="image/x-icon" />
  </head>
  <body>
    <noscript>Out-of-the-box mid-stage front/design solution!</noscript>
    <div id="root"></div>
  </body>
</html>
